header{
  text-align: center;
  padding: 2% 0%;
  font-size: 3rem;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  background-color: black;
  width: 30vw;
  height: 30vw;
}
.wrapper>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  background-color: white;
}
.one{
  color: red;
}
.two{
  color: blue;
}
.win{
  color: gold;
  filter: drop-shadow(1rem 1rem 1rem gold);
}
@media screen and (max-width: 749px) {
  .wrapper{
    width: 55vw;
    height: 55vw;
  }
}
@media screen and (max-width: 320px) {
  .wrapper>div{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 162px) {
  .wrapper>div{
    font-size: 1rem;
  }
}